In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {
    'Yil': [2021, 2020, 2019, 2018, 2017],
    'Aholi soni': [33.9, 33.5, 32.9, 32.5, 31.9],
    'Temp': [1.54, 1.48, 1.56, 1.62, 1.65],
    'Zichlik':[79.77, 78.87, 77.53, 76.54, 75.22]
}
df = pd.DataFrame(data)
df

    Yil  Aholi soni  Temp  Zichlik
0  2021        33.9  1.54    79.77
1  2020        33.5  1.48    78.87
2  2019        32.9  1.56    77.53
3  2018        32.5  1.62    76.54
4  2017        31.9  1.65    75.22

In [5]:
data = df['Aholi soni']

In [6]:
data

0    33.9
1    33.5
2    32.9
3    32.5
4    31.9
Name: Aholi soni, dtype: float64

In [7]:
type(data)

pandas.core.series.Series

In [8]:
data = df[['Aholi soni']]
data

   Aholi soni
0        33.9
1        33.5
2        32.9
3        32.5
4        31.9

In [9]:
type(data)

pandas.core.frame.DataFrame

In [13]:
print(data)

   Aholi soni
0        33.9
1        33.5
2        32.9
3        32.5
4        31.9

In [16]:
obj = pd.Series(np.arange(8.), index=['a', 'b','c','d', 'e', 'f', 'g', 'h'])

In [17]:
obj

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
h    7.0
dtype: float64

In [18]:
obj[['a']]

a    0.0
dtype: float64

In [19]:
obj['a':'f']

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
dtype: float64

In [22]:
obj[['a', 'g']]

a    0.0
g    6.0
dtype: float64

In [26]:
obj[['a', 'h']]=10

In [27]:
obj[obj<7]

b    1.0
c    2.0
d    3.0
e    4.0
f    5.0
g    6.0
dtype: float64

In [28]:
uz = {2020:33.5, 2019:32.9, 2018:32.5, 2017:31.9, 2016:31.4, 2015:30.9}
kz = {2020:18.8, 2019:18.5, 2018:18.3, 2017:18.1, 2016:17.8, 2015:17.6}
tj = {2020:9.5, 2019:9.3, 2018:9.1, 2017:8.9, 2016:8.7, 2015:8.5}
kg = {2020:6.5, 2019:6.4, 2018:6.3, 2017:6.2, 2016:6.1, 2015:6.0}
tr = {2020:6.0, 2019:5.9, 2018:5.9, 2017:5.8, 2016:5.6, 2015:5.6}

df = pd.DataFrame(
    {'Uzbekistan':uz,
     'Kazakhstan':kz,
     'Tajikistan':tj,
     'Kyrgizstan':kg,
     'Turkmenistan':tr
    }
)

In [29]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [34]:
df[['Uzbekistan', 'Turkmenistan']] # DaraFrame

      Uzbekistan  Turkmenistan
2020        33.5           6.0
2019        32.9           5.9
2018        32.5           5.9
2017        31.9           5.8
2016        31.4           5.6
2015        30.9           5.6

In [33]:
df['Uzbekistan'] # Series

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [35]:
df[3:]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [36]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [37]:
df>10

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        True        True       False       False         False
2019        True        True       False       False         False
2018        True        True       False       False         False
2017        True        True       False       False         False
2016        True        True       False       False         False
2015        True        True       False       False         False

In [38]:
df>5.3

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        True        True        True        True          True
2019        True        True        True        True          True
2018        True        True        True        True          True
2017        True        True        True        True          True
2016        True        True        True        True          True
2015        True        True        True        True          True

In [44]:
dfuz = df['Uzbekistan']
dfuz

2020    33.5
2019    32.9
2018    32.5
2017    31.9
2016    31.4
2015    30.9
Name: Uzbekistan, dtype: float64

In [51]:
dfuz[dfuz['Uzbekistan'] > 32]

KeyError: 'Uzbekistan'

In [48]:
df2 = df.transpose(copy=True)

In [49]:
df2

              2020  2019  2018  2017  2016  2015
Uzbekistan    33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan    18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan     9.5   9.3   9.1   8.9   8.7   8.5
Kyrgizstan     6.5   6.4   6.3   6.2   6.1   6.0
Turkmenistan   6.0   5.9   5.9   5.8   5.6   5.6

In [50]:
df2[df2[2015]>6]

            2020  2019  2018  2017  2016  2015
Uzbekistan  33.5  32.9  32.5  31.9  31.4  30.9
Kazakhstan  18.8  18.5  18.3  18.1  17.8  17.6
Tajikistan   9.5   9.3   9.1   8.9   8.7   8.5

In [52]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [53]:
df[['Kazakhstan']]

      Kazakhstan
2020        18.8
2019        18.5
2018        18.3
2017        18.1
2016        17.8
2015        17.6

In [56]:
df.loc[[2017, 2020]]

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2017        31.9        18.1         8.9         6.2           5.8
2020        33.5        18.8         9.5         6.5           6.0

In [57]:
df.loc[[2016, 2017], ['Uzbekistan', 'Kazakhstan']]

      Uzbekistan  Kazakhstan
2016        31.4        17.8
2017        31.9        18.1

In [62]:
df.iloc[[0,4], [0,3]]

      Uzbekistan  Kyrgizstan
2020        33.5         6.5
2016        31.4         6.1

In [63]:
df

      Uzbekistan  Kazakhstan  Tajikistan  Kyrgizstan  Turkmenistan
2020        33.5        18.8         9.5         6.5           6.0
2019        32.9        18.5         9.3         6.4           5.9
2018        32.5        18.3         9.1         6.3           5.9
2017        31.9        18.1         8.9         6.2           5.8
2016        31.4        17.8         8.7         6.1           5.6
2015        30.9        17.6         8.5         6.0           5.6

In [66]:
df.at[2015, 'Uzbekistan']

30.9

In [67]:
df.at[2015, 'Kazakhstan']

17.6

In [68]:
df.iat[2,1]

18.3

In [69]:
number = list(range(0,11))

In [70]:
number

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [75]:
number[-1]

10

In [76]:
obj = pd.Series(np.arange(10.))

In [77]:
obj

0    0.0
1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [78]:
obj[0]

0.0

In [79]:
obj[-1]

KeyError: -1

In [80]:
ser = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd','e'])

In [81]:
ser

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [82]:
ser[-1]

4.0

In [83]:
obj.iloc[-1]

9.0