In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/usa_cars.csv", index_col=0)

In [3]:
df.head(6)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left
5,5700,dodge,mpv,2018,clean vehicle,45561,white,2c4rdgeg9jr237989,167655771,texas,usa,2 days left

In [5]:
df.tail(5)

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left

In [8]:
df.sort_values('year')

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
32,29800,chevrolet,camaro,1973,clean vehicle,46226,red,1q87t3n166389,167763370,pennsylvania,usa,22 hours left
405,25,ford,door,1984,salvage insurance,41577,white,2ftcf15y9eca14589,167611661,arkansas,usa,17 hours left
545,0,gmc,door,1993,salvage insurance,0,light blue,1gkfk16k5pj701631,167358601,colorado,usa,18 hours left
362,25,ford,pickup,1994,salvage insurance,206162,white,1ftdf15y2rnb12612,167361489,georgia,usa,2 days left
322,0,ford,chassis,1994,salvage insurance,0,green,1fdee14n7rha47894,167359174,california,usa,19 hours left
...,...,...,...,...,...,...,...,...,...,...,...,...
426,55600,lexus,gx,2020,clean vehicle,8186,silver,jtjam7bx4l5251250,167605747,florida,usa,2 days left
806,28300,chevrolet,colorado,2020,clean vehicle,13886,silver,1gcgtcen7l1101496,167805497,indiana,usa,2 days left
2322,15000,nissan,altima,2020,clean vehicle,14320,blue,1n4bl4cv4lc134145,167656212,ohio,usa,2 days left
2344,20100,nissan,rogue,2020,clean vehicle,10875,blue,jn8at2mvxlw103235,167614842,minnesota,usa,14 hours left
1388,17000,ford,fusion,2020,clean vehicle,1117,gray,3fa6p0d98lr194138,167742945,pennsylvania,usa,2 days left

In [10]:
df['rank'] = df['price'].rank(method='min')
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,380.0
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,156.0
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,326.0
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,1824.0
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,2004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left,475.0
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,567.0
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,567.0
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,567.0
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,567.0

In [16]:
most_expensive_car = df.loc[df['price'].idxmax()]
print(most_expensive_car)

price                          1025
brand                     peterbilt
model                         truck
year                           2010
title_status      salvage insurance
mileage                     1017936
color                        color:
vin               1xp7d49x0ad793710
lot                       167529842
state                       georgia
country                         usa
condition             17 hours left
rank                           94.0
Name: 528, dtype: object

In [15]:
df.loc[df['mileage'].idxmax()]
df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
0,6300,toyota,cruiser,2008,clean vehicle,274117,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,380.0
1,2899,ford,se,2011,clean vehicle,190552,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,156.0
2,5350,dodge,mpv,2018,clean vehicle,39590,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,326.0
3,25000,ford,door,2014,clean vehicle,64146,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left,1824.0
4,27700,chevrolet,1500,2018,clean vehicle,6654,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left,2004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2494,7800,nissan,versa,2019,clean vehicle,23609,red,3n1cn7ap9kl880319,167722715,california,usa,1 days left,475.0
2495,9200,nissan,versa,2018,clean vehicle,34553,silver,3n1cn7ap5jl884088,167762225,florida,usa,21 hours left,567.0
2496,9200,nissan,versa,2018,clean vehicle,31594,silver,3n1cn7ap9jl884191,167762226,florida,usa,21 hours left,567.0
2497,9200,nissan,versa,2018,clean vehicle,32557,black,3n1cn7ap3jl883263,167762227,florida,usa,2 days left,567.0
2498,9200,nissan,versa,2018,clean vehicle,31371,silver,3n1cn7ap4jl884311,167762228,florida,usa,21 hours left,567.0

In [17]:
km_driven_car = df.loc[df['mileage'].idxmax()]
print(km_driven_car)

price                          1025
brand                     peterbilt
model                         truck
year                           2010
title_status      salvage insurance
mileage                     1017936
color                        color:
vin               1xp7d49x0ad793710
lot                       167529842
state                       georgia
country                         usa
condition             17 hours left
rank                           94.0
Name: 528, dtype: object

In [19]:
df['brand'].value_counts()

ford               1235
dodge               432
nissan              312
chevrolet           297
gmc                  42
jeep                 30
chrysler             18
bmw                  17
hyundai              15
kia                  13
buick                13
infiniti             12
honda                12
cadillac             10
mercedes-benz        10
heartland             5
land                  4
peterbilt             4
audi                  4
acura                 3
lincoln               2
lexus                 2
mazda                 2
maserati              1
toyota                1
harley-davidson       1
jaguar                1
ram                   1
Name: brand, dtype: int64

In [20]:
summary = df.describe()
print(summary)

              price         year       mileage           lot         rank
count   2499.000000  2499.000000  2.499000e+03  2.499000e+03  2499.000000
mean   18767.671469  2016.714286  5.229869e+04  1.676914e+08  1246.594238
std    12116.094936     3.442656  5.970552e+04  2.038772e+05   722.116072
min        0.000000  1973.000000  0.000000e+00  1.593488e+08     1.000000
25%    10200.000000  2016.000000  2.146650e+04  1.676253e+08   621.000000
50%    16900.000000  2018.000000  3.536500e+04  1.677451e+08  1247.000000
75%    25555.500000  2019.000000  6.347250e+04  1.677798e+08  1874.000000
max    84900.000000  2020.000000  1.017936e+06  1.678055e+08  2499.000000

In [28]:
ford_cars = df.loc[df['brand'] == 'ford']
print(ford_cars)

      price brand   model  year   title_status  mileage     color  \
1      2899  ford      se  2011  clean vehicle   190552    silver
3     25000  ford    door  2014  clean vehicle    64146      blue
9      5250  ford     mpv  2017  clean vehicle    63418     black
14    20700  ford    door  2013  clean vehicle   100757     black
18     5210  ford     mpv  2017  clean vehicle    35714     white
...     ...   ...     ...   ...            ...      ...       ...
2199  13800  ford  fusion  2019  clean vehicle    29345     white
2200  56000  ford     srw  2018  clean vehicle    25371     black
2201  13800  ford  fusion  2019  clean vehicle    30054    silver
2202  45800  ford     srw  2018  clean vehicle    11173     white
2203  13800  ford  fusion  2019  clean vehicle    30902  no_color

                      vin        lot           state country      condition  \
1       2fmdk3gc4bbb02217  166951262       tennessee     usa    6 days left
3       1ftfw1et4efc23745  167753855        virginia     usa  22 hours left
9       2fmpk3j92hbc12542  167656121           texas     usa    2 days left
14      1ftfw1et7dfa47790  167753916        virginia     usa  22 hours left
18      2fmpk3j95hbb73607  167656124           texas     usa    2 days left
...                   ...        ...             ...     ...            ...
2199    3fa6p0lu1kr222799  167802379  north carolina     usa    2 days left
2200    1ft7w2bt4jec50359  167749689    pennsylvania     usa    3 days left
2201    3fa6p0lu3kr210749  167802380  north carolina     usa    2 days left
2202    1ft7w2bt3jeb02932  167749690    pennsylvania     usa    2 days left
2203    3fa6p0lu8kr225585  167802381  north carolina     usa    2 days left

        rank
1      156.0
3     1824.0
9      323.0
14    1523.0
18     322.0
...      ...
2199   905.0
2200  2476.0
2201   905.0
2202  2405.0
2203   905.0

[1235 rows x 13 columns]

In [27]:
ford_cars = df.query('brand == "ford"')
print(ford_cars)

      price brand   model  year   title_status  mileage     color  \
1      2899  ford      se  2011  clean vehicle   190552    silver
3     25000  ford    door  2014  clean vehicle    64146      blue
9      5250  ford     mpv  2017  clean vehicle    63418     black
14    20700  ford    door  2013  clean vehicle   100757     black
18     5210  ford     mpv  2017  clean vehicle    35714     white
...     ...   ...     ...   ...            ...      ...       ...
2199  13800  ford  fusion  2019  clean vehicle    29345     white
2200  56000  ford     srw  2018  clean vehicle    25371     black
2201  13800  ford  fusion  2019  clean vehicle    30054    silver
2202  45800  ford     srw  2018  clean vehicle    11173     white
2203  13800  ford  fusion  2019  clean vehicle    30902  no_color

                      vin        lot           state country      condition  \
1       2fmdk3gc4bbb02217  166951262       tennessee     usa    6 days left
3       1ftfw1et4efc23745  167753855        virginia     usa  22 hours left
9       2fmpk3j92hbc12542  167656121           texas     usa    2 days left
14      1ftfw1et7dfa47790  167753916        virginia     usa  22 hours left
18      2fmpk3j95hbb73607  167656124           texas     usa    2 days left
...                   ...        ...             ...     ...            ...
2199    3fa6p0lu1kr222799  167802379  north carolina     usa    2 days left
2200    1ft7w2bt4jec50359  167749689    pennsylvania     usa    3 days left
2201    3fa6p0lu3kr210749  167802380  north carolina     usa    2 days left
2202    1ft7w2bt3jeb02932  167749690    pennsylvania     usa    2 days left
2203    3fa6p0lu8kr225585  167802381  north carolina     usa    2 days left

        rank
1      156.0
3     1824.0
9      323.0
14    1523.0
18     322.0
...      ...
2199   905.0
2200  2476.0
2201   905.0
2202  2405.0
2203   905.0

[1235 rows x 13 columns]

In [40]:
most_expensive_nissan = df.loc[df['brand'] == 'nissan'].nlargest(1,'price')
print(most_expensive_nissan)
cheapest_nissan = df.loc[df['Brand'] == 'Nissan'].nsmallest(1,'Price')
print(cheapest_nissan)

      price   brand model  year   title_status  mileage  color  \
2375  36300  nissan    xd  2017  clean vehicle    16224  white

                      vin        lot     state country      condition    rank
2375    1n6ba1f46hn535299  167753308  virginia     usa  21 hours left  2305.0

KeyError: 'Brand'

In [43]:
most_expensive_nissan = df.loc[df['brand'] == 'nissan'].nlargest(1,'price')
cheapest_nissan = df.loc[df['brand'] == 'nissan'].nsmallest(1,'price')
print(most_expensive_nissan, cheapest_nissan)

      price   brand model  year   title_status  mileage  color  \
2375  36300  nissan    xd  2017  clean vehicle    16224  white

                      vin        lot     state country      condition    rank
2375    1n6ba1f46hn535299  167753308  virginia     usa  21 hours left  2305.0         price   brand model  year       title_status  mileage color  \
2417    375  nissan  door  2017  salvage insurance        1   red

                      vin        lot           state country    condition  \
2417    3n1ce2cp0hl360793  167619908  north carolina     usa  2 days left

      rank
2417  74.0

In [52]:
chevy_models = df.loc[df['brand'] == 'chevrolet','model']
chevy_models

KeyError: 'model'

In [54]:
df['price'].corr(df['year'])

0.418273568491795

In [57]:
df.corrwith(df['price'])

/tmp/ipykernel_13347/464148923.py:1: FutureWarning: The default value of numeric_only in DataFrame.corrwith is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corrwith(df['price'])

price      1.000000
year       0.418274
mileage   -0.400838
lot        0.159369
rank       0.950311
dtype: float64

In [59]:
models = ['kia', 'hyundai']
mask = df['model']
mask

0       cruiser
1            se
2           mpv
3          door
4          1500
         ...
2494      versa
2495      versa
2496      versa
2497      versa
2498      versa
Name: model, Length: 2499, dtype: object

In [61]:
kia_hyundai_df = df[df['brand'].isin(['kia','hyundai'])]
kia_hyundai_df

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
16,5200,kia,forte,2018,clean vehicle,46194,blue,3kpfk4a77je198723,167801757,north carolina,usa,2 days left,317.0
21,7300,kia,forte,2018,clean vehicle,38823,black,3kpfl4a79je272611,167801773,north carolina,usa,2 days left,438.0
26,21500,kia,sorento,2020,clean vehicle,11451,blue,5xypg4a59lg616029,167801828,north carolina,usa,2 days left,1560.0
287,8200,hyundai,door,2017,clean vehicle,56690,white,5npd84lf6hh128808,167117726,connecticut,usa,5 hours left,505.0
288,3000,kia,door,2013,clean vehicle,97142,silver,knagm4a75d5378293,167552545,missouri,usa,9 days left,163.0
291,12700,kia,soul,2019,clean vehicle,23514,silver,kndjp3a55k7006351,167679072,california,usa,10 days left,805.0
292,13800,kia,sorento,2017,clean vehicle,86959,gray,5xyphda50hg232046,167803771,north carolina,usa,3 days left,905.0
296,9800,hyundai,elantra,2017,clean vehicle,35687,red,kmhd84lf5hu191402,167117732,connecticut,usa,5 hours left,603.0
366,5350,hyundai,mpv,2019,clean vehicle,43536,blue,km8j33a49ku860727,167698680,florida,usa,22 hours left,326.0
389,3760,hyundai,doors,2019,clean vehicle,30382,silver,5npd84lf6kh456317,167698685,florida,usa,22 hours left,216.0
417,5998,hyundai,doors,2014,clean vehicle,122975,phantom black,5npdh4ae0eh480157,167279690,new york,usa,5 days left,358.0
419,0,kia,wagon,2008,salvage insurance,148463,silver,knafg525787197602,167247592,indiana,usa,16 hours left,1.0
424,3960,hyundai,doors,2019,clean vehicle,35623,red,5npd84lf5kh403222,167697946,ohio,usa,2 days left,232.0
438,4010,hyundai,doors,2019,clean vehicle,31233,silver,kmhd84lf4ku746279,167697947,ohio,usa,2 days left,240.0
440,13000,kia,sportage,2017,clean vehicle,71991,silver,kndpn3ac7h7113313,167606881,new jersey,usa,2 hours left,835.0
450,4690,hyundai,mpv,2019,clean vehicle,33785,silver,km8k12aa0ku242609,167697948,ohio,usa,2 days left,290.0
463,8000,hyundai,door,2015,clean vehicle,88274,red,km8jucag9fu984199,167607388,pennsylvania,usa,7 days left,485.0
486,4730,hyundai,mpv,2019,clean vehicle,30121,red,km8j23a45ku893842,167697951,ohio,usa,2 days left,295.0
513,4650,hyundai,mpv,2019,clean vehicle,27492,white,km8j23a44ku882752,167697953,ohio,usa,2 days left,289.0
525,3440,hyundai,doors,2019,clean vehicle,34895,gray,3kpc24a34ke050725,167697954,ohio,usa,2 days left,192.0
527,3810,kia,door,2016,clean vehicle,39408,black,kndjx3ae3g7012477,167692796,california,usa,20 hours left,222.0
537,4750,hyundai,mpv,2019,clean vehicle,25847,gray,km8j23a4xku846404,167697955,ohio,usa,2 days left,296.0
549,3460,hyundai,door,2012,clean vehicle,142106,white,5npeb4ac2ch437716,167697983,mississippi,usa,2 days left,197.0
551,3250,hyundai,door,2015,clean vehicle,111612,gray,5npdh4ae3fh644096,167692885,california,usa,20 hours left,185.0
623,14000,kia,sorento,2017,clean vehicle,53424,black,5xypgda51hg221253,167119104,connecticut,usa,5 hours left,944.0
626,13300,kia,door,2017,clean vehicle,37125,no_color,5xypgda39hg262132,167119105,connecticut,usa,5 hours left,861.0
629,15500,kia,sorento,2017,clean vehicle,37668,red,5xypgda59hg292944,167119106,connecticut,usa,5 hours left,1082.0
631,21500,kia,sorento,2017,clean vehicle,43761,gray,5xypkda50hg299327,167119107,connecticut,usa,5 hours left,1560.0

In [81]:
mustang_df= df[(df['brand'] == 'ford') & (df['model'].isin(['mustang']))]
df5 =mustang_df[mustang_df.price > 2018]
df5.mean(price)

NameError: name 'price' is not defined

In [82]:
malibu_impala = df[(df['brand'] == 'chevrolet') & (df['model'].isin(['malibu','impala']))]
malibu_impala

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,rank
8,14600,chevrolet,malibu,2018,clean vehicle,9371,silver,1g1zd5st5jf191860,167763267,florida,usa,22 hours left,992.0
47,19000,chevrolet,malibu,2017,clean vehicle,18414,white,1g1zh5sx9hf118136,167763675,tennessee,usa,22 hours left,1413.0
107,18003,chevrolet,malibu,2017,clean vehicle,19117,no_color,1g1zh5sx7hf141060,167765112,michigan,usa,17 hours left,1342.0
204,6000,chevrolet,malibu,2018,clean vehicle,42090,gray,1g1zb5st8jf226848,167765944,texas,usa,21 hours left,359.0
266,17100,chevrolet,malibu,2019,clean vehicle,15780,white,1g1zd5st5kf112138,167767034,washington,usa,2 days left,1272.0
278,18900,chevrolet,impala,2019,clean vehicle,27601,white,1g11z5s37ku129047,167767312,texas,usa,21 hours left,1409.0
281,18300,chevrolet,impala,2019,clean vehicle,25809,black,2g11z5s33k9132248,167767315,texas,usa,21 hours left,1358.0
569,13500,chevrolet,impala,2018,clean vehicle,53194,white,2g1105s3xj9121918,167773137,new jersey,usa,7 hours left,872.0
647,9000,chevrolet,malibu,2016,clean vehicle,67527,gray,1g1zj5su8gf337274,167780142,wisconsin,usa,21 hours left,550.0
677,13700,chevrolet,malibu,2019,clean vehicle,47282,silver,1g1zd5st4kf126371,167787112,oklahoma,usa,21 hours left,893.0
686,12300,chevrolet,malibu,2018,clean vehicle,53599,black,1g1zd5stxjf140841,167787955,oklahoma,usa,21 hours left,780.0
688,13600,chevrolet,malibu,2018,clean vehicle,36047,white,1g1zd5st5jf249837,167787964,oklahoma,usa,21 hours left,886.0
691,13000,chevrolet,malibu,2018,clean vehicle,41751,gray,1g1zd5st8jf242655,167787968,oklahoma,usa,21 hours left,835.0
731,25000,chevrolet,impala,2020,clean vehicle,18715,silver,1g1105s31lu100901,167796081,nevada,usa,6 hours left,1824.0
740,13700,chevrolet,impala,2019,clean vehicle,14939,blue,2g11z5s30k9137729,167796203,nevada,usa,9 minutes,893.0
741,15900,chevrolet,malibu,2019,clean vehicle,22026,black,1g1zd5st0kf187281,167796205,nevada,usa,1 hours left,1140.0
768,10200,chevrolet,malibu,2018,clean vehicle,45836,white,1g1zd5stxjf175198,167800168,texas,usa,2 days left,621.0
791,15200,chevrolet,impala,2019,clean vehicle,32248,red,1g11z5sa4ku113760,167801930,north carolina,usa,2 days left,1050.0
792,15000,chevrolet,impala,2019,clean vehicle,36165,silver,1g11z5sa7ku117222,167801932,north carolina,usa,2 days left,1022.0
793,15500,chevrolet,impala,2019,clean vehicle,29922,charcoal,2g11z5saxk9120208,167801934,north carolina,usa,2 days left,1082.0
794,15700,chevrolet,impala,2019,clean vehicle,26848,silver,2g11z5sa5k9140950,167801935,north carolina,usa,2 days left,1112.0
795,14800,chevrolet,impala,2019,clean vehicle,41163,charcoal,2g11z5sa8k9139310,167801936,north carolina,usa,2 days left,1010.0
797,8200,chevrolet,impala,2017,clean vehicle,100315,black,1g1105sa9hu160835,167802211,north carolina,usa,2 days left,505.0
807,18300,chevrolet,impala,2019,clean vehicle,34538,silver,2g11z5s37k9134455,167805500,indiana,usa,2 days left,1358.0

In [83]:
average_price = df[(df['brand'] == 'ford') & (df['model'] == 'mustang') & (df['year']>2018)]['price'].mean()
average_price

26971.235294117647

In [84]:
mustang_df.describe()

              price         year       mileage           lot         rank
count     29.000000    29.000000     29.000000  2.900000e+01    29.000000
mean   25841.758621  2018.517241  21551.931034  1.677386e+08  1788.413793
std     7781.073538     0.784706  12153.315994  7.464566e+04   391.353103
min    15500.000000  2016.000000    878.000000  1.675552e+08  1082.000000
25%    20500.000000  2018.000000  11342.000000  1.677355e+08  1511.000000
50%    22000.000000  2019.000000  25011.000000  1.677637e+08  1593.000000
75%    29800.000000  2019.000000  31561.000000  1.677824e+08  2108.000000
max    49000.000000  2020.000000  41147.000000  1.678018e+08  2436.000000

In [86]:
majority_year = df[df['brand'] == 'ford']['year'].value_counts().idxmax()
majority_year

2019