In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.random.randn(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

       Olma      Anor     Qovun     Anjir
a  2.079689 -1.406850 -0.803566 -0.898699
b  0.846327  0.788625 -0.955604 -0.565270
c -0.322235 -0.820509 -1.990568  0.012821

In [4]:
np.abs(df)

       Olma      Anor     Qovun     Anjir
a  2.079689  1.406850  0.803566  0.898699
b  0.846327  0.788625  0.955604  0.565270
c  0.322235  0.820509  1.990568  0.012821

In [5]:
np.round(df)

   Olma  Anor  Qovun  Anjir
a   2.0  -1.0   -1.0   -1.0
b   1.0   1.0   -1.0   -1.0
c  -0.0  -1.0   -2.0    0.0

In [6]:
df

       Olma      Anor     Qovun     Anjir
a  2.079689 -1.406850 -0.803566 -0.898699
b  0.846327  0.788625 -0.955604 -0.565270
c -0.322235 -0.820509 -1.990568  0.012821

In [7]:
df.mean()

Olma     0.867927
Anor    -0.479578
Qovun   -1.249913
Anjir   -0.483716
dtype: float64

In [8]:
df.mean(axis=1)

a   -0.257357
b    0.028520
c   -0.780123
dtype: float64

In [9]:
df.apply(np.abs)

       Olma      Anor     Qovun     Anjir
a  2.079689  1.406850  0.803566  0.898699
b  0.846327  0.788625  0.955604  0.565270
c  0.322235  0.820509  1.990568  0.012821

In [11]:
df.apply(sum, axis=1)

a   -1.029426
b    0.114078
c   -3.120492
dtype: float64

In [12]:
#lambda

In [13]:
f = lambda x: x.max() - x.min()

In [14]:
df.apply(f)

Olma     2.401924
Anor     2.195475
Qovun    1.187002
Anjir    0.911520
dtype: float64

In [15]:
def foo(x):
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [16]:
df.apply(foo)

         Olma      Anor     Qovun     Anjir
min -0.322235 -1.406850 -1.990568 -0.898699
max  2.079689  0.788625 -0.803566  0.012821

In [17]:
f = lambda x : x*x # qiymatni kvadratga oshiruvchi funksiya

In [18]:
df.applymap(f)

       Olma      Anor     Qovun     Anjir
a  4.325108  1.979227  0.645719  0.807660
b  0.716270  0.621929  0.913180  0.319530
c  0.103835  0.673235  3.962362  0.000164