In [2]:
import numpy as np
import pandas as pd

In [35]:
region = pd.Series(['Tashkent', 'Fergana', 'Andijon', 'Buxoro', 'Jizzax', 'Xorazm',  'Namangan', 'Navoiy', 'Qashqadaryo', "Qoraqalpog'iston Respublikasi", 'Samarqand', 'Sirdaryo', 'Surxondaryo'])

In [36]:
print(region)

0                          Tashkent
1                           Fergana
2                           Andijon
3                            Buxoro
4                            Jizzax
5                            Xorazm
6                          Namangan
7                            Navoiy
8                       Qashqadaryo
9     Qoraqalpog'iston Respublikasi
10                        Samarqand
11                         Sirdaryo
12                      Surxondaryo
dtype: object

In [22]:
type(region)

pandas.core.series.Series

In [37]:
region

0                          Tashkent
1                           Fergana
2                           Andijon
3                            Buxoro
4                            Jizzax
5                            Xorazm
6                          Namangan
7                            Navoiy
8                       Qashqadaryo
9     Qoraqalpog'iston Respublikasi
10                        Samarqand
11                         Sirdaryo
12                      Surxondaryo
dtype: object

In [38]:
region[0]

'Tashkent'

In [40]:
region.iloc[:1]

0    Tashkent
dtype: object

In [41]:
region.size

13

In [42]:
region[4:7]

4      Jizzax
5      Xorazm
6    Namangan
dtype: object

In [129]:
data = {'Tashkent': 4450000, 'Fergana': 910500, 'Andijon': 1899000, 'Buxoro': 1384700, 'Jizzax': 910500, 'Xorazm': 1200000,  'Namangan': 1862000, 'Navoiy': 767500, 'Qashqadaryo': 2029000, "Qoraqalpog'iston Respublikasi": 1200000, 'Samarqand': 2322000, 'Sirdaryo': 648100, 'Surxondaryo':1676000}

In [44]:
data

{'Tashkent': 1676000,
 'Fergana': 910500,
 'Andijon': 1899000,
 'Buxoro': 1384700,
 'Jizzax': 910500,
 'Xorazm': 1200000,
 'Namangan': 1862000,
 'Navoiy': 767500,
 'Qashqadaryo': 2029000,
 "Qoraqalpog'iston Respublikasi": 1200000,
 'Samarqand': 2322000,
 'Sirdaryo': 648100,
 'Surxondaryo': 1676000}

In [64]:
regions = pd.Series(data, dtype='int64')

In [53]:
regions.index

Index(['Tashkent', 'Fergana', 'Andijon', 'Buxoro', 'Jizzax', 'Xorazm',
       'Namangan', 'Navoiy', 'Qashqadaryo', 'Qoraqalpog'iston Respublikasi',
       'Samarqand', 'Sirdaryo', 'Surxondaryo'],
      dtype='object')

In [49]:
type(regions)

pandas.core.series.Series

In [56]:
regions.loc[['Jizzax', 'Buxoro', 'Namangan']]

Jizzax       910500
Buxoro      1384700
Namangan    1862000
dtype: int64

In [72]:
regions

Tashkent                         1676000
Fergana                           910500
Andijon                          1899000
Buxoro                           1384700
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
dtype: int64

In [79]:
'Navoiy' in regions > 1000000

Tashkent                          True
Fergana                          False
Andijon                           True
Buxoro                            True
Jizzax                           False
Xorazm                            True
Namangan                          True
Navoiy                           False
Qashqadaryo                       True
Qoraqalpog'iston Respublikasi     True
Samarqand                         True
Sirdaryo                         False
Surxondaryo                       True
dtype: bool

In [80]:
dict = {
    "Andijon": 4200,
    "Buxoro": 39400,
    "Farg'ona": 6800,
    "Jizzax": 20500,
    "Xorazm": 6300,
    "Namangan": 7900,
    "Navoiy": 110800,
    "Qashqadaryo": 28400,
    "Qoraqalpog'iston Respublikasi": 160000,
    "Samarqand": 16400,
    "Sirdaryo": 5100,
    "Surxondaryo": 20800,
    "Toshkent": 15300,
}

In [88]:
reg = pd.Series(dict)

In [89]:
reg

Andijon                            4200
Buxoro                            39400
Farg'ona                           6800
Jizzax                            20500
Xorazm                             6300
Namangan                           7900
Navoiy                           110800
Qashqadaryo                       28400
Qoraqalpog'iston Respublikasi    160000
Samarqand                         16400
Sirdaryo                           5100
Surxondaryo                       20800
Toshkent                          15300
dtype: int64

In [83]:
reg.index.name = "Hududlar hajmi"

In [109]:
largest = reg.idxmax()
print("Eng katta hudud:",largest)
smallest = reg.index.min()
print("Eng kichik hudud::", smallest)

Eng katta hudud: Qoraqalpog'iston Respublikasi
Eng kichik hudud:: Andijon

In [119]:
largest = reg.max()
print(reg.idxmax(),'aholisi', largest)
smallest = reg.min()
print(reg.index.min(),'aholisi', smallest)

Qoraqalpog'iston Respublikasi aholisi 160000
Andijon aholisi 4200

In [120]:
np.sum(reg)

441900

In [122]:
regions[]

2322000

In [124]:
regions

Tashkent                         1676000
Fergana                           910500
Andijon                          1899000
Buxoro                           1384700
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
dtype: int64

In [128]:
regions

Tashkent                         1676000
Fergana                           910500
Andijon                          1899000
Buxoro                           1384700
Jizzax                            910500
Xorazm                           1200000
Namangan                         1862000
Navoiy                            767500
Qashqadaryo                      2029000
Qoraqalpog'iston Respublikasi    1200000
Samarqand                        2322000
Sirdaryo                          648100
Surxondaryo                      1676000
dtype: int64

In [133]:
regions.max()

2322000

In [134]:
print(regions.max(), reg.max())
print(regions.min(), reg.min())

2322000 160000
648100 4200

In [135]:
reg+regions

Andijon                          1903200.0
Buxoro                           1424100.0
Farg'ona                               NaN
Fergana                                NaN
Jizzax                            931000.0
Namangan                         1869900.0
Navoiy                            878300.0
Qashqadaryo                      2057400.0
Qoraqalpog'iston Respublikasi    1360000.0
Samarqand                        2338400.0
Sirdaryo                          653200.0
Surxondaryo                      1696800.0
Tashkent                               NaN
Toshkent                               NaN
Xorazm                           1206300.0
dtype: float64

In [139]:
reg.sort_values()

Andijon                            4200
Sirdaryo                           5100
Xorazm                             6300
Farg'ona                           6800
Namangan                           7900
Toshkent                          15300
Samarqand                         16400
Jizzax                            20500
Surxondaryo                       20800
Qashqadaryo                       28400
Buxoro                            39400
Navoiy                           110800
Qoraqalpog'iston Respublikasi    160000
dtype: int64

In [140]:
regions.sort_values()

Sirdaryo                          648100
Navoiy                            767500
Fergana                           910500
Jizzax                            910500
Xorazm                           1200000
Qoraqalpog'iston Respublikasi    1200000
Buxoro                           1384700
Tashkent                         1676000
Surxondaryo                      1676000
Namangan                         1862000
Andijon                          1899000
Qashqadaryo                      2029000
Samarqand                        2322000
dtype: int64