In [2]:
import pandas as pd
import numpy as np
from pandas import Series # Series maluotlar tuzilmasi

In [3]:
obj = Series([1,2,3,4,5])

In [4]:
type(obj)

pandas.core.series.Series

In [5]:
print(obj)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
print(obj.values)

[1 2 3 4 5]

In [8]:
obj = Series([6,3,2,1,2], index = ['a', 'b', 'c', 'd', 'e'])
obj

a    6
b    3
c    2
d    1
e    2
dtype: int64

In [9]:
obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [10]:
obj[['a','b','c']]

a    6
b    3
c    2
dtype: int64

In [12]:
obj['a']

6

In [13]:
obj[obj<3]

c    2
d    1
e    2
dtype: int64

In [14]:
obj**2

a    36
b     9
c     4
d     1
e     4
dtype: int64

In [15]:
np.exp(obj)

a    403.428793
b     20.085537
c      7.389056
d      2.718282
e      7.389056
dtype: float64

In [16]:
obj['a']

6

In [17]:
obj

a    6
b    3
c    2
d    1
e    2
dtype: int64

In [18]:
# lug'atni series malumotlariga o'teqaish

In [33]:
cars_dict = {'Malibu':40000, 'Lacetti':20000, 'Toyota':45000, 'Mazda':52000, 'Honda':38000}
type(car_dict)

dict

In [34]:
cars1 = Series(car_dict)

In [22]:
type(cars1)

pandas.core.series.Series

In [23]:
'Malibu' in cars1

True

In [24]:
'Bmw' in cars1

False

In [27]:
cars1['Malibu']

50000

In [36]:
models = ['Honda','Mazda','Lacetti','Jaguar','Malibu','Toyota']
cars2 = Series(car_dict, index=models)

In [37]:
cars2

Honda          NaN
Mazda          NaN
Lacetti    40000.0
Jaguar         NaN
Malibu     50000.0
Toyota         NaN
dtype: float64

In [38]:
cars2.isnull()

Honda       True
Mazda       True
Lacetti    False
Jaguar      True
Malibu     False
Toyota      True
dtype: bool

In [39]:
cars2.notnull()

Honda      False
Mazda      False
Lacetti     True
Jaguar     False
Malibu      True
Toyota     False
dtype: bool

In [32]:
cars1

Malibu     50000
Lacetti    40000
Matiz       3000
dtype: int64

In [40]:
cars1 + cars2

Honda           NaN
Jaguar          NaN
Lacetti     80000.0
Malibu     100000.0
Matiz           NaN
Mazda           NaN
Toyota          NaN
dtype: float64

In [41]:
cars2.name = 'Avtosalon'

In [42]:
cars2.index.name = 'Modellar'

In [43]:
cars2

Modellar
Honda          NaN
Mazda          NaN
Lacetti    40000.0
Jaguar         NaN
Malibu     50000.0
Toyota         NaN
Name: Avtosalon, dtype: float64

In [44]:
print(cars2)

Modellar
Honda          NaN
Mazda          NaN
Lacetti    40000.0
Jaguar         NaN
Malibu     50000.0
Toyota         NaN
Name: Avtosalon, dtype: float64

In [45]:
# 'Honda','Mazda','Lacetti','Jaguar','Malibu','Toyota'
new_prices = Series({"Honda":5000, "Mazda":-3000, "Malibu":4500, "Toyota":5200, 'Lacetti':-1200})

In [47]:
cars2+new_prices

Honda          NaN
Jaguar         NaN
Lacetti    38800.0
Malibu     54500.0
Mazda          NaN
Toyota         NaN
dtype: float64

In [49]:
cars2.name

'Avtosalon'